.ui.container {
    width: auto!important;
    margin: 0!important;
}

.ui.grid>* {
  padding: 0;
}

.ui.grid>.row {
  padding: 5px 0px;
}

.score-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}